<div class="mobile-menu">
  <div class="mm-header">
    <img src="assets/images/LOGO.svg" alt="">
    <a href="https://irisapi.kase.kz/webterminal/auth" target="_blank">Войти</a>
    <img class="mmh-close" src="assets/images/close.svg" alt="" (click)="appService.menu_show = false">
  </div>
  <div class="mm-trial-button">
    <div class="button-primary">
      <a class="" (click)="scrollToTrial('trial')">Попробовать бесплатно</a>
    </div>
  </div>
  <div class="mm-links">
    <div class="mm-link">О продукте</div>
    <div class="mm-link">Возможности</div>
    <div class="mm-link">Тарифы</div>
    <div class="mm-link">Контакты</div>
  </div>
  <div class="mm-contacts">
    <div class="mm-contact">
      <span class="mmc-title">Телефон</span>
      <span class="mmc-content">+7 727 2375322 </span>
    </div>
      <div class="mm-contact">
      <span class="mmc-title">E-mail</span>
      <span class="mmc-content">mds@kase.kz</span>
    </div>
  </div>
</div>
