.rates-field {
  margin-top: 120px;
  .rf-title {
    width: 100%;
    text-align: center;
    font-weight: 800;
    font-size: 52px;
    line-height: 100%;
    color: #0D1C32;
    display: flex;
    justify-content: center;
  }
  .rates {
    padding: 40px 0 121px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    @media screen and (max-width: 690px) {
      flex-direction: column;
      padding: 40px 0 60px;
    }
    .r-base {
      width: 340px;
      min-width: 340px;
      height: fit-content;
      padding: 40px 24px;
      display: flex;
      flex-direction: column;
      border-radius: 12px;
      background: #F3F6FB;
      border: 2px solid #D3D7E2;
      box-sizing: border-box;
      box-shadow: -6px -6px 24px rgba(168, 171, 177, 0.25), 8px 8px 22px rgba(154, 165, 182, 0.35), inset 1px 1px 1px rgba(115, 124, 139, 0.05), inset -1px -1px 4px rgba(115, 124, 139, 0.12);
      color: #0D1C32;
      @media screen and (max-width: 390px) {
        width: 100%;
        min-width: initial;
        align-items: center;
      }

      .rb-text {
        margin-top: 16px;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;

        &:nth-child(1) {
          margin-top: 0;
          font-weight: 700;
          font-size: 24px;
          line-height: 120%;
          letter-spacing: 0.02em;
        }
      }

      .r-mrp {
        margin-top: 24px;
        display: flex;
        span {
          &:nth-child(1) {
            padding-right: 16px;
            border-right: 1px solid #D3D7E2;
          }
          &:nth-child(2) {
            padding-left: 16px;
          }
        }
      }

      .r-required {
        margin-top: 28px;
        font-weight: 300;
        font-size: 12px;
        line-height: 140%;
        align-items: center;
        letter-spacing: 0.02em;
        color: #565969;
        display: flex;
        flex-direction: row;
        gap: 8px;
      }
    }
    .r-market {
      padding: 40px 24px;
      flex: 100%;
      border-radius: 12px;
      border: 2px solid #D3D7E2;
      background: #F3F6FB;
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #0D1C32;
      box-shadow: inset 1px 1px 1px rgba(115, 124, 139, 0.05), inset -1px -1px 4px rgba(115, 124, 139, 0.12);
      filter: drop-shadow(-6px -6px 24px rgba(168, 171, 177, 0.25)) drop-shadow(8px 8px 22px rgba(154, 165, 182, 0.35));
      .rm-header {
        width: 100%;
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        @media screen and (max-width: 390px) {
          text-align: center;
        }
      }
      .rm-fork {
        width: 100%;
        margin-top: 24px;
        display: flex;
        flex-direction: row;
        gap: 24px;
        @media screen and (max-width: 1024px) {
          flex-direction: column;
        }
        .rmf-items {
          flex-grow: 1;
          .rmf-item {
            display: flex;
            flex-direction: row;
            padding: 14px 19px;
            &:nth-child(odd) {
              border-radius: 5px;
              background: rgba(103, 103, 108, 0.1);
            }
            span {
              &:nth-child(1) {
                word-break: break-word;
              }
              &:nth-child(2) {
                margin-left: auto;
                white-space: nowrap;
                flex: none;
              }
            }
          }
        }
      }
    }
  }
}
