<!--<div style="height: 1000px"></div>-->
<div class="header-field" id="header-field">
  <!--    <div class="hf-bg"></div>-->
  <div class="header">
    <div class="header-left">
      <img class="hl-menu" src="assets/images/menu.svg" alt="">
      <img src="assets/images/LOGO.svg" alt="">
      <div class="hi-texts">
        <span>О продукте</span>
        <span>Возможности</span>
        <span>Тарифы</span>
        <span>Контакты</span>
      </div>
    </div>
    <div class="header-right">
      <div class="hr-button">Войти</div>
      <div class="hr-button-primary">Попробовать бесплатно</div>
    </div>
  </div>
  <div class="header-big">
    <div class="hb-left">
      <div class="hb-text">
        <span>IRIS Finance</span>
        <span>Информационный терминал KASE для работы с&nbsp;финансовой информацией.</span>
        <span>Принимайте взвешенные решения с&nbsp;помощью уникальных торговых данных, аналитики и&nbsp;новостей IRIS Finance.</span>
      </div>
      <div class="button">Попробовать бесплатно</div>
    </div>
    <div class="hb-right">
      <img id="hb_right-img" src="assets/images/promomain%201.svg" alt="">
    </div>
  </div>
</div>
<div class="middle-content animation-comp">
  <div class="with-you" id="with-you">
    <span>Мы всегда с вами</span>
    <span>Браузерный терминал с обновлением информации в реальном времени и доступный с любого устройства, без привязки к рабочему месту.</span>
  </div>

  <div class="animation">
    <main class="anim">
      <div class="left">
        <div class="anim-field first" id="anim-field">
          <div class="tabs" id="tabs">
            <div class="tab">
              Все новости
            </div>
            <div class="tab">
              Новости рынков
            </div>
            <div class="tab">
              Новости компаний
            </div>
            <div class="tab">
              Новости Биржи
            </div>
            <div class="empty">
            </div>
            <div class="tab tab-favorite">
              <img src="assets/images/bookmark-filled.svg" alt="">
              Избранное
            </div>
          </div>
          <div class="watch-cup">
            <div class="watchlist">
              <div class="button-field">
                <div class="button" id="button">
                  <img src="assets/images/Add.svg" alt="">
                  Добавить инструмент
                </div>
              </div>
              <div class="tabs-sec">
                <div class="tab">Сделки</div>
                <div class="tab">Заявки</div>
                <div class="tab">Итоги торгового дня</div>
              </div>
              <div class="table table-zebra" id="table">
                <div class="tr tr-header" id="tr-header">
                  <div class="td" id="w-first-th">Тикер</div>
                  <div class="td">Посл. цена</div>
                  <div class="td">Объём</div>
                  <div class="td">Минимум</div>
                  <div class="td">Максимум</div>
                  <div class="td">Время</div>
                  <div class="td">Минимум</div>
                  <div class="td">Максимум</div>
                  <div class="td">Время</div>
                  <div class="td"></div>
                </div>
                <div class="tr">
                  <div class="td">CCBN</div>
                  <div class="td">380,01</div>
                  <div class="td">-</div>
                  <div class="td">379,50</div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                </div>
                <div class="tr">
                  <div class="td">CCBN</div>
                  <div class="td">380,01</div>
                  <div class="td">-</div>
                  <div class="td">379,50</div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                </div>
                <div class="tr">
                  <div class="td">CCBN</div>
                  <div class="td">380,01</div>
                  <div class="td">-</div>
                  <div class="td">379,50</div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                </div>
                <div class="tr">
                  <div class="td">CCBN</div>
                  <div class="td">380,01</div>
                  <div class="td">-</div>
                  <div class="td">379,50</div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                </div>
                <div class="tr">
                  <div class="td">CCBN</div>
                  <div class="td">380,01</div>
                  <div class="td">-</div>
                  <div class="td">379,50</div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                </div>
                <div class="tr">
                  <div class="td">CCBN</div>
                  <div class="td">380,01</div>
                  <div class="td">-</div>
                  <div class="td">379,50</div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                </div>
                <div class="tr">
                  <div class="td">CCBN</div>
                  <div class="td">380,01</div>
                  <div class="td">-</div>
                  <div class="td">379,50</div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                </div>
                <div class="tr">
                  <div class="td">CCBN</div>
                  <div class="td">380,01</div>
                  <div class="td">-</div>
                  <div class="td">379,50</div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                </div>
                <div class="tr">
                  <div class="td">CCBN</div>
                  <div class="td">380,01</div>
                  <div class="td">-</div>
                  <div class="td">379,50</div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                </div>
                <div class="tr">
                  <div class="td">CCBN</div>
                  <div class="td">380,01</div>
                  <div class="td">-</div>
                  <div class="td">379,50</div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                </div>
                <div class="tr">
                  <div class="td">CCBN</div>
                  <div class="td">380,01</div>
                  <div class="td">-</div>
                  <div class="td">379,50</div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                </div>
                <div class="tr">
                  <div class="td">CCBN</div>
                  <div class="td">380,01</div>
                  <div class="td">-</div>
                  <div class="td">379,50</div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                </div>
                <div class="tr">
                  <div class="td">CCBN</div>
                  <div class="td">380,01</div>
                  <div class="td">-</div>
                  <div class="td">379,50</div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                </div>
              </div>
            </div>
            <div class="cup">
              <div class="cup-header">
                <div class="ch-td"></div>
                <div class="ch-td"></div>
                <div class="ch-td"></div>
                <div class="ch-td"></div>
                <div class="ch-td"></div>
                <div class="ch-td"></div>
              </div>
              <div class="cup-table" id="cup-table">
                <td class="ct-td"></td>
                <td class="ct-td"></td>
                <td class="ct-td"></td>

                <td class="ct-td"></td>
                <td class="ct-td"></td>
                <td class="ct-td"></td>

                <td class="ct-td"></td>
                <td class="ct-td"></td>
                <td class="ct-td"></td>

                <td class="ct-td"></td>
                <td class="ct-td"></td>
                <td class="ct-td"></td>

                <td class="ct-td"></td>
                <td class="ct-td"></td>
                <td class="ct-td"></td>

                <td class="ct-td"></td>
                <td class="ct-td"></td>
                <td class="ct-td"></td>

                <td class="ct-td"></td>
                <td class="ct-td"></td>
                <td class="ct-td"></td>

                <td class="ct-td"></td>
                <td class="ct-td"></td>
                <td class="ct-td"></td>

                <td class="ct-td"></td>
                <td class="ct-td"></td>
                <td class="ct-td"></td>

                <td class="ct-td"></td>
                <td class="ct-td"></td>
                <td class="ct-td"></td>

                <td class="ct-td"></td>
                <td class="ct-td"></td>
                <td class="ct-td"></td>

                <td class="ct-td"></td>
                <td class="ct-td"></td>
                <td class="ct-td"></td>

                <td class="ct-td"></td>
                <td class="ct-td"></td>
                <td class="ct-td"></td>

                <td class="ct-td"></td>
                <td class="ct-td"></td>
                <td class="ct-td"></td>

                <td class="ct-td"></td>
                <td class="ct-td"></td>
                <td class="ct-td"></td>
              </div>
              <div class="index-change hide" id="index-change">
                <div class="ic-change">
                  <span class="ic-header">Изменение индикатора</span>
                  <div class="ic-refresh">
                    <div class="icr-item">
                      <span>Дата обновления</span>
                      <span>13.04.2022 12:44</span>
                    </div>
                    <div class="icr-item">
                      <span>Значение</span>
                      <span>3 182,79</span>
                    </div>
                  </div>
                  <table class="ic-time">
                    <thead>
                    <tr>
                      <th>1Д</th>
                      <th>1Н</th>
                      <th>1М</th>
                      <th>3М</th>
                      <th>6М</th>
                      <th>1Г</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>+ 9,70</td>
                      <td>- 80,44</td>
                      <td>- 194,68</td>
                      <td>- 194,68</td>
                      <td>- 388,58</td>
                      <td>- 98,15</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <img src="assets/images/chart.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="r-info" id="r-info">
          <div class="fadeIn r-info-text" id="r-info-text1">
            <span></span>
            <span></span>
          </div>
          <div class="fadeIn r-info-text" id="r-info-text2">
            <span></span>
            <span></span>
          </div>
          <div class="fadeIn r-info-text" id="r-info-text3">
            <span></span>
            <span></span>
          </div>
          <div class="fadeIn r-info-text" id="r-info-text4">
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<div class="middle-content animation-mobile">
  <div class="with-you">
    <span>Мы всегда с&nbsp;вами</span>
    <span>Браузерный терминал с&nbsp;обновлением информации в&nbsp;реальном времени и&nbsp;доступный с&nbsp;любого устройства, без&nbsp;привязки к&nbsp;рабочему месту.</span>
  </div>
  <div class="options">
    <div class="option">
      <div>
        <span>Watchlist</span>
        <span>Котировки &nbsp;в реальном времени для&nbsp;
        оперативного реагирования
        на&nbsp;изменения рынков –&nbsp;наблюдайте за&nbsp;биржевым
        стаканом и&nbsp;отслеживайте настроения инвесторов.</span>
      </div>
      <img src="assets/images/watchlist-cup.svg" alt="">
    </div>
    <div class="option">
      <div>
        <span>Актуальные новости</span>
        <span>Следите за&nbsp;событиями на&nbsp;рынке с&nbsp;помощью нашей новостной ленты KASE и&nbsp;добавляйте наиболее интересные новости в&nbsp;раздел "Избранные", чтобы иметь к&nbsp;ним оперативный доступ.</span>
      </div>
      <img src="assets/images/news.svg" alt="">
    </div>
    <div class="option">
      <div>
        <span>Заявки, сделки и&nbsp;итоги</span>
        <span>Определяйте динамику рынков с&nbsp;помощью данных intraday, а&nbsp;также анализируйте исторические данные за&nbsp;любой периоддля лучшего понимания картины рынка.</span>
      </div>
      <img src="assets/images/deals-totals.svg" alt="">
    </div>
    <div class="option">
      <div>
        <span>Индексы и&nbsp;индикаторы</span>
        <span>Оценивайте состояние рынка ценных бумаг с&nbsp;помощью индексов и&nbsp;индикаторов KASE.</span>
      </div>
      <img src="assets/images/indexes.svg" alt="">
    </div>
  </div>
</div>
<div class="change-theme">
  <div class="middle-content change_theme-text change-theme-anim">
    <span>Темная или&nbsp;светлая сторона?</span>
    <span>Никаких ограничений!<br>  Выбирайте свою любимую тему.</span>
  </div>
  <div class="middle-content change-theme-anim" id="container">
    <div>
      <img src="assets/images/main-dark.svg" alt="">
      <div id="left_panel">
        <img id="right_panel-img" src="assets/images/main-light.svg" alt="">
        <div id="drag1">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div id="right_panel">
        <div id="drag">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="middle-content">
  <div class="rates-field">
    <span class="rf-title">Тарифы</span>
    <div class="rates">
      <div class="r-base">
        <span class="rb-text rates-anim">Базовый модуль</span>
        <span class="rb-text rates-anim">Справочник по эмитентам</span>
        <span class="rb-text rates-anim">Справочник по ценным бумагам</span>
        <span class="rb-text rates-anim">Индексы и индикаторы</span>
        <div class="r-mrp">
          <span class="rates-anim">18&nbsp;МРП</span>
          <span class="rates-anim">1 МРП = 3 063 тенге</span>
        </div>
        <div class="r-required rates-anim">
          <img src="assets/images/information%203.svg" alt="">
          <span>Обязательный</span>
        </div>
      </div>
      <div class="r-market">
        <span class="rm-header rates-anim">Модули с рыночной информацией</span>
        <div class="rm-fork">
          <div class="rmf-items">
            <div class="rmf-item">
              <span class="rates-anim">Новости KASE</span>
              <span class="rates-anim">22 МРП</span>
            </div>
            <div class="rmf-item">
              <span class="rates-anim">Торги иностранными валютами </span>
              <span class="rates-anim">5 МРП</span>
            </div>
            <div class="rmf-item">
              <span class="rates-anim">Сделки с&nbsp;иностранными валютами</span>
              <span class="rates-anim">20 МРП</span>
            </div>
          </div>
          <div class="rmf-items">
            <div class="rmf-item">
              <span class="rates-anim">Рынок акций</span>
              <span class="rates-anim">17 МРП</span>
            </div>
            <div class="rmf-item">
              <span class="rates-anim">Рынок корпоративных облигаций</span>
              <span class="rates-anim">17 МРП</span>
            </div>
            <div class="rmf-item">
              <span class="rates-anim">Рынок государственныхценных бумаг</span>
              <span class="rates-anim">17 МРП</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="trial-form-field">
  <div class="middle-content">
    <div class="trial-form">
      <div class="tf-left">
        <div class="tf-contacts">
          <span>Остались вопросы?</span>
          <span>Свяжитесь с&nbsp;нами по&nbsp;следующим контактам:</span>
          <span>Телефон</span>
          <span>+7 727 2375322</span>
          <span>E-mail</span>
          <span>mds@kase.kz</span>
        </div>
        <img src="assets/images/trial-form-left.svg" alt="">
        <div class="tf-question">
          <span>Уже являетесь нашим пользователем?</span>
          <span>Войти в IRIS Finance</span>
        </div>
      </div>
      <div class="tf-right">
        <span class="tfr-text">Пробный период</span>
        <span class="tfr-text">Оставьте заявку и&nbsp;воспользуйтесь бесплатным тестовым доступом</span>
        <div class="tfr-inputs">
          <input placeholder="E-mail" name="email">
          <input placeholder="Телефон" name="tel">
          <input placeholder="ФИО" name="fio">
        </div>
        <div class="tfr-line"></div>
        <div class="tfr-accept">
          Нажимая&nbsp;на кнопку&nbsp;вы автоматически принимаете условия<span>&nbsp;Пользовательского соглашения
          и&nbsp;конфиденциальности</span>
        </div>
        <div class="tfr-button">
          Получить доступ
        </div>
      </div>
    </div>
  </div>
  <div class="middle-content">
    <div class="copyright">
      <span>IRIS Finance</span>
      <span>© 1993-2022 АО "Казахстанская фондовая биржа". Копирование материалов – только с письменного разрешения.</span>
    </div>
  </div>
</div>

<!--<div style="height: 1000px; background: #3f0707"></div>-->
<!--<div id="container">-->
<!--  <div id="left_panel"> left content! </div>-->
<!--  <div id="right_panel">-->
<!--    <div id="drag"></div> right content!-->
<!--  </div>-->
<!--</div>-->
